<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="BankingDBV2"
			 connectionString ="Data Source=DESKTOP-29T6DCB\SQLEXPRESS;Initial Catalog=BankingSystemDB;Integrated Security=true"
			 providerName ="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>